.container_1 {
    margin-top: 75px;
    background-color: rgb(33, 14, 244);
    color: white;
    padding: 10px 30px 10px 40px;
    padding-bottom: 15px;
}

.container_1 input {
    color: #fff;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #fff;
}

.container_1 input::placeholder {
    color: white;
    font-size: 13px;
}

.container_1 input:focus {
    border-color: #fff;
}

.container_1 button {
    border-radius: 20px;
    background-color: rgb(33, 14, 244);
    border: 1px solid #fff;
    color: white;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.container_1 button:hover {
    background-color: rgb(33, 14, 244);
    border: 1px solid black;
    color: black;

}

.banner_icon {
    margin-right: 10px;
    font-size: 18px;
}

.container_2 {
    background-color: rgb(9, 7, 8);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.container_2_child_1 {
    width: 95%;
    margin: auto;
}

.container_2_child_1 {
    background-color: rgb(9, 7, 8);
    color: #fff;
    width: 100%;
    padding: 25px;
}

.box_1 a {
    font-size: 17px;
    margin-bottom: 5px;
}

.box_2 a {
    font-size: 17px;
    margin-bottom: 5px;
}

.box_3 a {
    font-size: 17px;
    margin-bottom: 5px;
}

.box_4 a {
    font-size: 17px;
    margin-bottom: 5px;
}

.box_4 button {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.msg {
    font-size: 20px;
}
