* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    overflow-x: hidden;
}

.parent {
    display: flex;
    width: 96%;
    margin: auto;
    margin-top: 7rem;
}

.Child_1 {
    width: 33%;
    text-align: center;
}

.h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.btn {
    margin-bottom: 2rem;
}

.btn:hover {
    color: blue;

}

.Child_2 {
    width: 65%;
    margin-left: 2.5rem;
}

.product_card {
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(169, 169, 169, 0.5);
    border-radius: 1rem;
}

.Carousel_img {
    width: 200%;
}

.Carousel_Text_1 {
    font-size: 2rem;
    margin-top: .5rem;
}

.Carousel_Text_2 {
    font-size: 1.5rem;
}

.Carousel_Text_3 {
    font-size: 1.8rem;
    margin-top: .5rem;
}

.Carousel_rating {
    font-size: 1.6rem;
    margin-top: .5rem;
}

.parent_2 {
    width: 96%;
    margin: auto;
    margin-top: 8rem;
}

.parent_2_child {
    text-align: center;
}

.parent_2_Text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.parent_2_child a {
    text-decoration: underline;
    font-size: 1.5rem;
}